# Colegio 1
VITE_SUPABASE_URL_SCHOOL_1=https://school1.supabase.co
VITE_SUPABASE_ANON_KEY_SCHOOL_1=your-key-1

# Colegio 2
VITE_SUPABASE_URL_SCHOOL_2=https://school2.supabase.co
VITE_SUPABASE_ANON_KEY_SCHOOL_2=your-key-2

# Colegio 3
VITE_SUPABASE_URL_SCHOOL_3=https://school3.supabase.co
VITE_SUPABASE_ANON_KEY_SCHOOL_3=your-key-3

VITE_SUPABASE_EMAIL_FUNCTION_NAME=send-interview-email
